@use "Variables" as *

.add_product
  display: flex
  flex-direction: column
  align-items: left
  width: 40vw
  margin-left: auto
  margin-right: auto
  ul
    list-style: none
    margin-top: 1.5em
    display: flex
    flex-direction: column
    .listItem
      align-items: center
      display: flex
      justify-content: space-between
      padding: 25px
      margin: .3em
      background-color: $secondary-color
      font-size: 30px
      color: white
      p
        margin-left: 30px
      .item_remover
        color: white
        background-color: red
        padding: 10px
        font-weight: bold
        border: none
        box-shadow: .1em .15em black
        font-size: 13px
        &:hover
          cursor: pointer
        &:active
          box-shadow: none
          transform: translate(.1em, .15em)
  .product_form
    display: flex
    flex-direction: row
    padding-top: 20px
    .product_name_input
      color: white
      background-color: transparent
      flex-grow: 1
      margin: 0
      padding-bottom:8px 
      padding-top:8px
      border: none
      border-bottom: 2px solid $secondary-color
      font-size: 18px
      &:focus
        outline: none
        caret-color: white
  .add_product_button
    font-weight: bolder
    color: $secondary-color
    margin-left: 10px
    padding: 10px
    border-radius: 100em
    border: 2px solid transparent
    background-color: #5cb85c
    box-shadow: .1em .15em black
    &:hover
      cursor: pointer
    &:active
      box-shadow: none
      transform: translate(.1em, .15em)